@font-face {
    font-family: "Metropolis Regular";
    src: url("../fonts/metropolis.regular.otf");
}

@font-face {
    font-family: "Metropolis Medium";
    src: url("../fonts/metropolis.medium.otf");
}

@font-face {
    font-family: "Metropolis Bold";
    src: url("../fonts/metropolis.bold.otf");
}

@font-face {
    font-family: "Metropolis Black";
    src: url("../fonts/metropolis.black.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

h1, h2, h3, h4, p, li {
    font-family: "Metropolis Regular", sans-serif;
}

.font-medium {
    font-family: "Metropolis Medium", sans-serif;
}

.font-bold {
    font-family: "Metropolis Bold", sans-serif;
}

.font-black {
    font-family: "Metropolis Black", sans-serif;
}